<div class="modal fade" id="mdr-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="mdr-modal-label">Terms of Use</h5>
            </div>
            <div class="modal-body">
                <p>
                    This app is intended solely for research or education and not for medical or clinical diagnostics.
                    By using this app, you acknowledge that there is <strong>no</strong> warranty for this software and
                    that you use it <strong>at your own risk</strong>.
                </p>
                <p>
                    The full terms and conditions are available <a href="https://github.com/MREYE-LUMC/demos/blob/main/LICENSE.txt">here</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">I Agree</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let sessionStorageKey = 'shown-mdr-modal-' + window.location.pathname;

        if (!sessionStorage.getItem(sessionStorageKey)) {
            let mdrModal = new bootstrap.Modal(document.getElementById('mdr-modal'));
            mdrModal.show();
            sessionStorage.setItem(sessionStorageKey, 'true');
        }
    });
</script>